.header {
    height: 150px;
  }
  
  .header h1 {
    margin: 0;
    padding-top: 45px;
    text-align: center;
    color: rgb(98, 98, 98);
  }
  
.footerbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;  
    margin: 5px;
}